# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
Thumbs.db

# Local env files
.env
.env.*
!.env.example

# Lock files
bun.lock
yarn.lock
pnpm-lock.yaml

# Compiled files
*.class
*.py[cod]

# Package files
*.jar

# Maven
target/

# Unit test reports
TEST*.xml

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv